@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
a{text-decoration: none;color:#000;}
ul,li{list-style: none;}
ol,li{list-style: none;}
img{border:0;}
button{border:0;}
input{background:none;border:0;}
.wrap{width:950px;margin:0 auto;}

#header{height:109px;border-bottom: 1px solid #cbcbcb;width:950px;margin:0 auto;}
#header .logo{padding-top:33px;margin-left:264px;float: left;}
#header .left{float:left;}
#header .left .position{font:12px/32px "";line-height: 32px;}
#header .left .language{height:11px;}
#header .left .language img{margin-right:6px;margin-top:0;float:left;}
#header .right{float:right;width:75px;}
#header .right .login{font:12px/32px "";float:right;line-height: 32px;}
#header .right .shopcar{float:right;font:12px/12px "";line-height: 12px;}
#header .search{width:113px;height:22px;border:1px solid #cbcbcb;float:right;position:relative;margin-top:31px;text-indent: 6px;background:#cee7d1;}
#header button{width:17px;height:16px;background: url(img/search.gif) center;position: absolute;right:2px;top:4px;}


#nav{height:42px;position: relative;}
#nav a{font-size:12px;width:118px;display: block;float:left;height:42px;text-align: center;line-height: 42px}
#nav #second{position: relative;width:123px;}
#nav a span{float:right;color:#cbcbcb;}
#nav #second sup{width:22px;height:13px;background: #f00;color:#fff;display:block;border-radius: 30%;line-height: 13px;text-align: center;position: absolute;left:89px;top:10px;}
#nav a:hover{background: #000;color:#fff;}
#nav a:hover span{display: none;}
#nav .wrap{position: relative;}
#nav .fixed_nav{width:63px;position: absolute;left:951px;top:-35px;}
#nav .fixed_nav li{width:63px;height:61px;margin-top:1px;text-align: center;position: relative;}
#nav .fixed_nav li a{width:63px;height:61px;position:relative;display: block;float:left;}
#nav .nav1{background: url(img/car1.jpg);}
#nav .nav2{background: url(img/person.jpg);}
#nav .nav3{background: url(img/mail.jpg);}
#nav .nav4{background: url(img/up.jpg);}
#nav .fixed_nav li span{font:12px/12px "";left:0;width:63px;line-height:12px;color:#fff;position: absolute;top:40px;}
#nav .fixed_nav .nav1 a:hover{background:url(img/car.gif);border: 1px solid #000;padding:1px;width:59px;height:57px;}
#nav .fixed_nav .nav2 a:hover{background:url(img/person1.jpg);border: 1px solid #000;padding:1px;width:59px;height:57px;}
#nav .fixed_nav .nav3 a:hover{background:url(img/mail1.gif);background-size:100%;padding:1px;border: 1px solid #000;width:59px;height:57px;}
#nav .fixed_nav .nav4 a:hover{background:url(img/up1.gif);border: 1px solid #000;padding:1px;width:59px;height:57px;}
#nav .fixed_nav a:hover span{color:#000;display: block;}
#nav .fixed_nav .showcar{width:200px;height: 366px;border: 1px solid #000;position: absolute;left:-202px;top:2px;background: #fff;z-index: 999;display: none;}
#nav .fixed_nav .showcar .top{border-bottom: 1px solid #000;font:12px/24px "";line-height: 24px;text-align: center;}
#nav .fixed_nav .showcar .cookie{height:265px;width:200px;}
#nav .fixed_nav .showcar .cookie img{display: block;margin:10px 0 0 57px;}
#nav .fixed_nav .showcar .cookie p{margin-left:20px;font:bold 12px/24px "";line-height: 24px;width:200px;position: relative;margin-top:10px;}
#nav .fixed_nav .showcar .cookie p .shopcarprice{position: absolute;left:50px;height:24px;}
#nav .fixed_nav .showcar .cookie p .shopcarcount{position: absolute;left:50px;height:24px;}
#nav .fixed_nav .showcar .bottom{border-top: 1px solid #000;height: 60px;text-align: center;}
#nav .fixed_nav .showcar .bottom #lookcar{width:140px;height:24px;font:12px/24px "";background:#000;color: #fff;margin-top:5px;}
#nav .fixed_nav .showcar .bottom #clearcar{width:140px;height:24px;font:12px/24px "";background:#000;color: #fff;margin-top:5px;}






#notice{position:relative;height:70px;background: #000;text-align:center;width:950px;margin:0 auto;border-top: 1px solid #fff;border-bottom: 5px solid #fff;}
#notice .notice{font:bold 18px/42px "";line-height: 42px;color:#fff;}
#notice .notice_note{font:14px/14px "";line-height: 14px;color:#fff;}
#notice #everything{text-align:left;border:1px solid #cbcbcb;padding:20px 18px 0 18px;position: absolute;width:914px;height:235px;background: #fff;z-index:2;top:-1px;display: none; font-size:12px;}
#notice #everything ul{float:left;width:100px;margin-left:12px;}
#notice #everything ul li.first_1{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice #everything ul li{font:12px/22px "";line-height: 22px}
#notice #everything ul li.first1{margin-top:8px;}
#notice #newfall{text-align:left;padding:20px 30px 0 30px;width:80px;height:180px;border:1px solid #cbcbcb;display:none;position: absolute;background: #fff;z-index:2;top:-1px; font-size:12px;left:236px;}
#notice #newfall img.one{left:51px;}
#notice #newfall ul li.first_1{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice #newfall ul li{font:12px/22px "";line-height: 22px}
#notice #newfall ul li.first1{margin-top:8px;}
#notice #tend{text-align:left;padding:20px 18px 0 18px;width:240px;height:180px;border:1px solid #cbcbcb;display:none ;position: absolute;background: #fff;z-index:2;top:-1px; font-size:12px;left:359px;}
#notice #tend ul{float:left;width:100px;margin-left:12px;}
#notice #tend ul li.first_1{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice #tend ul li{font:12px/22px "";line-height: 22px}
#notice #tend ul li.first1{margin-top:8px;}
#notice #hot{text-align:left;padding:20px 30px 0 30px;width:80px;height:180px;border:1px solid #cbcbcb;display:none;position: absolute;background: #fff;z-index:2;top:-1px; font-size:12px;left:477px;}
#notice #hot ul li.first_1{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice #hot ul li{font:12px/22px "";line-height: 22px}
#notice #hot ul li.first1{margin-top:8px;}
#notice #cowboy{text-align:left;padding:20px 30px 0 30px;width:80px;height:200px;border:1px solid #cbcbcb; display:none ;position: absolute;background: #fff;z-index:2;top:-1px; font-size:12px;left:595px;}
#notice #cowboy li{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice img{position:absolute;top:-1px;left:56px;}
#notice img.one{left:169px;}

#banner{height:500px;width: 950px;margin:0 auto;padding-bottom:42px;}
#banner #scoll{position: relative;width: 950px; height: 500px;  overflow: hidden; }
#banner #scoll ul{position: absolute; left: 0;width:3800px;}
#banner #scoll ul li{list-style:  none; float: left; width: 950px; height: 500px; }
#banner #scoll ul li img{width: 100%; height: 100%}
#banner #scoll ol{position: absolute;left:48%;bottom: 20px}
#banner #scoll ol li{width:12px;height:12px;border-radius: 50%;background: #fff;float: left;margin-right:10px;}
#banner #scoll .active{background:#000;}


#news{text-align:center;height:460px;border-bottom:1px solid #cbcbcb;border-top:1px solid #cbcbcb;width: 950px;margin:0 auto;padding-top:25px;}
#news .title_news{font:bold 30px/100px "黑体";line-height: 100px}
#news img{float:left;margin-right:10px;}
#news img.lastImg{margin:0;}

#image{position:relative;text-align:center;height:740px;border-bottom:1px solid #cbcbcb;width: 950px;margin:0 auto;padding-top:70px;}
#image .title_image{font:bold 30px/30px "黑体";line-height: 30px}
#image .image_title{font:20px/82px "黑体";line-height: 82px;}
#image .div_img{background:#fef303;width:950px;height:559px;}
#image img{position: absolute;left:0;top:180px;}

#remix{height:498px;border-bottom: 1px solid #cbcbcb;width: 950px;margin:0 auto;padding-top:66px;}
#remix #remix_left{height:421px;width:573px;position:relative;float:left;}
#remix #remix_left #img02{position:absolute;left:0;top:0;}
#remix #remix_left #img03{position:absolute;right:0;top:0;}
#remix #remix_left #img01{position:absolute;right:0;bottom:0;}
#remix #remix_right{width:257px;float:right;margin-right:60px;text-align: center;}
#remix #remix_right .demin{font:bold 34px/64px "黑体";line-height: 64px;margin-top:88px;}
#remix #remix_right .demin_title{font:28px/108px "";line-height: 108px;}
#remix #remix_right button{width:130px;height:28px;background: #000;color:#fff;border: 1px solid #000;}

#hot1{text-align:center;height:576px;border-bottom: 1px solid #cbcbcb;width: 950px;margin:0 auto;padding-top:68px;}
#hot1 .hot{font:bold 34px/34px "黑体";line-height: 34px;}
#hot1 .hot_title{font:18px/80px "";line-height: 80px;}
#hot1 ul{float:left;margin-right:10px;}
#hot1 ul.last{margin:0;}

#image1{position:relative;text-align:center;height:740px;border-bottom:1px solid #cbcbcb;width: 950px;margin:0 auto;padding-top:70px;}
#image1 .title_image1{font:bold 30px/30px "黑体";line-height: 30px}
#image1 .image1_title{font:20px/82px "黑体";line-height: 82px;}
#image1 img{position: absolute;left:0;top:180px;}

#imglink{height:1296px;text-align: center;width:950px;padding-top:67px;margin:0 auto;}
#imglink .imglink_title{font:bold 30px/30px "黑体";line-height: 30px}
#imglink .title_imglink{font:20px/72px "黑体";line-height: 72px;}
#imglink dl{margin-right:10px;margin-top:10px;width:310px;height:566px;float:left;text-align: center;}
#imglink .dl_right{margin-right:0;}
#imglink dd.link_title{font:15px/15px "";line-height:15px;margin-top:46px;}
#imglink dd.link_name{font:12px/44px "";line-height:44px}
#imglink dd.link_des{font:12px/54px "";line-height:54px;margin-top:14px;color:#eaeaea;}
#imglink button{width:102px;height:30px;background: #fff;color:#000;border: 1px solid #000;}

#imglink2{height:155px;width:950px;margin:0 auto;border-top:5px solid #000;}
#imglink2 li{float:left;margin-right:10px;}
#imglink2 li.last1{margin:0;}

#listlink{height:315px;width:950px;margin:0 auto;text-align: center;padding:40px 0;}
#listlink .list_left{width:259px;border-right:1px solid #000;height:315px;float:left;}
#listlink .list_left .list_left_title{font:bold 24px/96px "";line-height: 96px;float:left;margin-left:10px;}
#listlink .list_left img{float:left;margin-left:5px;}
#listlink .list_left button{width:220px;height:30px;background: #000;color:#fff;border: 1px solid #000;float:left;margin-left:5px;}
#listlink .list_center{width:389px;border-right:1px solid #000;height:315px;float:left;}
#listlink .list_center .list_center_title{font:bold 24px/96px "";line-height: 96px;}
#listlink .list_center .list_center_des{font:12px/20px "";line-height: 20px;width:260px;text-align: left;margin-left:60px;}
#listlink .list_center .list_search{width:260px;height:30px;border:1px solid #cbcbcb;margin:30px 0 0 60px;}
#listlink .list_center .list_search input{background:#cee7d1;width:200px;height:30px;float:left;text-indent: 5px;}
#listlink .list_center .list_search button{width:60px;border:none;height:30px;float:left;background: #000;color:#fff;}
#listlink .list_center .imglink1{margin-top:10px;margin-left:60px;position: relative;}
#listlink .list_center img{float:left;}
#listlink .list_center .code{position: absolute;z-index:2;left:75px;top:55px;display: none;}
#listlink .list_right .list_rigth_left{float:left;width:180px;text-align: center}
#listlink .list_right .list_rigth_right{float:left;width:52px;text-align: center}
#listlink .list_right dl{margin-top:34px;position: relative;}
#listlink .list_right .dl_top{margin:0;}
#listlink .list_right dt{font:bold 12px/22px "";line-height:22px;}
#listlink .list_right dd{font:12px/22px "";line-height:22px;}
#listlink .list_right .code{position: absolute;z-index:2; display: none; left:12px;}

#nav2{height:42px;position: relative;}
#nav2 a{font-size:12px;width:118px;display: block;float:left;height:42px;background:#000;text-align: center;color:#fff;line-height: 42px}
#nav2 a span{float:right;color:#cbcbcb;}

#footer{height:176px;text-align: center;}
#footer img{float:left;margin:42px 98px 0 98px;}
#footer .bes{margin:14px 0 0 415px;}
#footer p{width:950px;float:left;font:12px/48px "";line-height:48px;}
#footer .p2{font:12px/20px "";line-height: 20px}

#join{height:120px;width: 950px;margin:0 auto;position: relative;z-index: 9999}
#join #join1{position: fixed;bottom:0;background: #fff;}
#join .wrap{border-top:1px solid #000;position: relative;height:120px;width:950px;margin:0 auto;}
#join .model{position: absolute;left:25px;top:-24px;}
#join .joinlogo{position: absolute;left:192px;top:30px;}
#join .join_right{float:right;position: relative;height:120px;}
#join .join_right button{margin-top:30px;width:170px;height:30px;border: 1px solid #000;text-align: center;background: #000;color:#fff;}
#join .del{position: absolute;right:0;top:0;width:16px;height:16px;background: #fff;border:0;color:#cbcbcb;}
#join .join_right .mail{width:380px;height: 30px;border: 1px solid #000;margin-top:5px;}
#join .join_right .mail input{width:315px;height:28px;float: left;text-indent: 5px}
#join .join_right .mail .buy{width:65px;height:30px;float:right;margin:0;}


/*  注册页面 */
#notice1{height:140px;margin:0 auto;width:950px;position:relative;border-top:1px solid #cbcbcb;}
#notice1 #everything{text-align:left;border:1px solid #cbcbcb;padding:20px 18px 0 18px;position: absolute;width:914px;height:235px;background: #fff;z-index:2;top:-1px;display: none; font-size:12px;}
#notice1 #everything ul{float:left;width:100px;margin-left:12px;}
#notice1 #everything ul li.first_1{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice1 #everything ul li{font:12px/22px "";line-height: 22px}
#notice1 #everything ul li.first1{margin-top:8px;}
#notice1 #newfall{text-align:left;padding:20px 30px 0 30px;width:80px;height:180px;border:1px solid #cbcbcb;display:none;position: absolute;background: #fff;z-index:2;top:-1px; font-size:12px;left:236px;}
#notice1 #newfall img.one{left:51px;}
#notice1 #newfall ul li.first_1{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice1 #newfall ul li{font:12px/22px "";line-height: 22px}
#notice1 #newfall ul li.first1{margin-top:8px;}
#notice1 #tend{text-align:left;padding:20px 18px 0 18px;width:240px;height:180px;border:1px solid #cbcbcb;display:none ;position: absolute;background: #fff;z-index:2;top:-1px; font-size:12px;left:359px;}
#notice1 #tend ul{float:left;width:100px;margin-left:12px;}
#notice1 #tend ul li.first_1{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice1 #tend ul li{font:12px/22px "";line-height: 22px}
#notice1 #tend ul li.first1{margin-top:8px;}
#notice1 #hot{text-align:left;padding:20px 30px 0 30px;width:80px;height:180px;border:1px solid #cbcbcb;display:none;position: absolute;background: #fff;z-index:2;top:-1px; font-size:12px;left:477px;}
#notice1 #hot ul li.first_1{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice1 #hot ul li{font:12px/22px "";line-height: 22px}
#notice1 #hot ul li.first1{margin-top:8px;}
#notice1 #cowboy{text-align:left;padding:20px 30px 0 30px;width:80px;height:200px;border:1px solid #cbcbcb; display:none ;position: absolute;background: #fff;z-index:2;top:-1px; font-size:12px;left:595px;}
#notice1 #cowboy li{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice1 img{position:absolute;top:-1px;left:56px;}
#notice1 img.one{left:169px;}
#notice1 span{font:12px/24px "";line-height: 24px}
#notice1 .registlogo{line-height:50px;background: #000;text-align: center;color:#fff;font:bold 26px/50px "";}
#notice1 .regist_left{height:42px;width:475px;border-bottom:12px solid #7f7f7f;float:left;font:bold 14px/56px "";text-align: center;color:#7f7f7f;}
#notice1 .regist_right{height:42px;width:475px;border-bottom:12px solid #e5e5e5;float:left;font:bold 14px/56px "";
	text-align: center;color:#e5e5e5;}

#banner1{min-height:609px;width:908px;margin:0 auto;background: url(img/registe_banner.jpg) no-repeat;margin-bottom:60px;padding-top:30px;padding-left:42px;}
#banner1 p{font:12px/32px "";line-height:32px;}
#banner1 p.min_p{font:12px/28px "";line-height:28px;}
#banner1 input.txt{width:260px;height:24px;border: 1px solid #cbcbcb;background: #fff;text-indent: 5px}
#banner1 span.txt_span{display: block;font:12px/28px "";color:#b5bfbb;}
#banner1 #checkcode{width:88px;height:25px;color:#fff;text-align: center;background: #000;margin-left:10px;}
#banner1 #submit{width:67px;height:30px;border: 1px solid #000;color:#fff;text-align: center;background: #000;margin-top:10px;margin-bottom:6px;}
#banner1 span.last{font:12px/12px "";line-height: 12px;}

/* 单品页面 */
#notice2{height:542px;margin:0 auto;width:950px;position:relative;border-top:1px solid #cbcbcb;}
#notice2 #everything{text-align:left;border:1px solid #cbcbcb;padding:20px 18px 0 18px;position: absolute;width:914px;height:235px;background: #fff;z-index:2;top:-1px;display: none; font-size:12px;}
#notice2 #everything ul{float:left;width:100px;margin-left:12px;}
#notice2 #everything ul li.first_1{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice2 #everything ul li{font:12px/22px "";line-height: 22px}
#notice2 #everything ul li.first1{margin-top:8px;}
#notice2 #newfall{text-align:left;padding:20px 30px 0 30px;width:80px;height:180px;border:1px solid #cbcbcb;display:none;position: absolute;background: #fff;z-index:2;top:-1px; font-size:12px;left:236px;}
#notice2 #newfall img.one{left:51px;}
#notice2 #newfall ul li.first_1{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice2 #newfall ul li{font:12px/22px "";line-height: 22px}
#notice2 #newfall ul li.first1{margin-top:8px;}
#notice2 #tend{text-align:left;padding:20px 18px 0 18px;width:240px;height:180px;border:1px solid #cbcbcb;display:none ;position: absolute;background: #fff;z-index:2;top:-1px; font-size:12px;left:359px;}
#notice2 #tend ul{float:left;width:100px;margin-left:12px;}
#notice2 #tend ul li.first_1{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice2 #tend ul li{font:12px/22px "";line-height: 22px}
#notice2 #tend ul li.first1{margin-top:8px;}
#notice2 #hot{text-align:left;padding:20px 30px 0 30px;width:80px;height:180px;border:1px solid #cbcbcb;display:none;position: absolute;background: #fff;z-index:2;top:-1px; font-size:12px;left:477px;}
#notice2 #hot ul li.first_1{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice2 #hot ul li{font:12px/22px "";line-height: 22px}
#notice2 #hot ul li.first1{margin-top:8px;}
#notice2 #cowboy{text-align:left;padding:20px 30px 0 30px;width:80px;height:200px;border:1px solid #cbcbcb; display:none ;position: absolute;background: #fff;z-index:2;top:-1px; font-size:12px;left:595px;}
#notice2 #cowboy li{font:bold 12px/32px "";line-height: 32px;border-bottom: 1px solid #000;}
#notice2 img{position:absolute;top:-1px;left:56px;}
#notice2 img.one{left:169px;}
#notice2 span{font:12px/24px "";line-height: 24px}
#notice2 .single{height:514px;border-top: 6px solid #f2f2f2;}
#notice2 #play{height:500px;position: relative;overflow:hidden;top:5px;float: left;width:450px;}
#notice2 .ul1,.ul2{position: absolute;}
#notice2 .ul1 .active1{border:1px solid #000;}
#notice2 .ul1 li{width:107px;height:172px;padding: 1px;margin-bottom:2px;}
#notice2 .ul1 li img{float:left;left:0;position: relative;width:108px;height:174px;}
#notice2 .ul1{width:108px;height:500px;left:0px;}
#notice2 .ul2 img{width:313px;height:500px;position: absolute;left:0;top:0;}	
#notice2 .ul2 li{width:313px;height:500px;position: absolute;}	
#notice2 .ul2{left:123px;height:500px;width:313px;z-index: 10}
#notice2 .play_right{float:left;width:480px;height:498px;position:relative;top:5px;left:15px;padding-top:2px;}
#notice2 .play_right .ul_right{position: absolute;z-index: 2}
#notice2 .play_right .title{font:14px/20px "";line-height: 20px}
#notice2 .play_right .num{font:12px/18px "";line-height:18px;color:#666;margin-top:3px;}
#notice2 .play_right .price{font:18px/24px "黑体";line-height: 24px;margin-top:3px;}
#notice2 .play_right .color{margin-top:3px;position:relative;font:12px/24px "";line-height: 24px}
#notice2 .play_right .color img{position: absolute;top:25px;left:0;border:1px solid #000;}
#notice2 .play_right .select{margin-top:59px;position: relative;}
#notice2 .play_right .select select{border: 1px solid #666;width:108px;height:24px;margin-right:10px;}
#notice2 .play_right .select input{border: 1px solid #666;width:24px;height:22px;line-height: 22px;text-align: center;}
#notice2 .play_right .select .selectbtn{position: absolute;left:149px;top:1px;}
#notice2 .play_right .incar button{width:152px;height:30px;text-align: center;line-height: 30px;background:#000;color:#fff;margin-top:5px;border: 1px solid #000;}
#notice2 .play_right .intxt button{width:152px;height:30px;text-align: center;line-height: 30px;background:#fff;color:#000;margin-top:5px;border: 1px solid #000;}
#notice2 .play_right .service{font:12px/12px "";line-height: 12px;margin-top:5px;}
#notice2 .play_right .service_link{position:relative;font:12px/12px "";line-height: 12px;margin-top:10px;}
#notice2 .play_right .service_link img{top:-2px;position: absolute;}
#notice2 .play_right .service_link .ser_left{left:40px;}
#notice2 .play_right .service_link .ser_right{left:75px;}
#notice2 .play_right .service_link span{left:65px;position: absolute;top:-8px;}
#notice2 .play_right .inform{font:12px/24px "";line-height: 24px;}
#notice2 .play_right .inform p{border:none;}
#notice2 .play_right .inform .inform_p{border-bottom: 1px solid #000;}
/*放大镜*/
#notice2 .play_right .ul_big{position:absolute;height: 500px;width:480px;left:0px;top:0;overflow:hidden;}
#notice2 .play_right .ul_big li{height: 500px;width:480px;position: absolute;}
#notice2 .play_right .ul_big li img{display: none;height:2366px;width:1460px;position: absolute;left:0;top:0;}
#notice2 .position_box{width: 100px;height: 75px;background: #b6b6b6;opacity: 0.6;position: absolute;left: 0;top: 0;z-index: 1; display: none; }







#bigimg{width:950px;margin:0 auto;margin-top:20px;margin-bottom: 60px}



#content{width:950px;margin:0 auto;height:3950px;}
#content #content_right{width:780px;float:left;}
#content #content_right li{float:left;width:185px;margin-left:10px;}
#content #content_right li div{width: 185px;height:395px;position: relative;}
#content #content_right li div img{width: 185px;height:296px; display: block;margin-bottom: 20px;position: absolute;z-index:1;}
#content #content_right li div .clotherimg{width: 185px;height:296px; display: block;margin-bottom: 20px;position: absolute;}
#content #content_right li div p{position:absolute;font:12px/16px "";line-height: 16px;top:320px;}
#content #content_right li div .p_1{top:350px;color:#f00;}
#content #content_right li div span{display: block;background: #000;position: absolute;right:0;top:0;color:#fff;font:12px/16px "";line-height:16px;}
#content #content_left{width:170px;height: 3950px;float:left;}
#content #content_left span{font:12px/24px "";color:#fff;background:#000;line-height: 24px;width:100%;display: block;text-indent: 10px}
#content #content_left .ul_1{height:740px;width:148px;border:1px solid #cbcbcb;padding:10px;}
#content #content_left .ul_1 .first{font:bold 12px/38px "";line-height: 38px;border-bottom: 2px solid #000;background:none;}
#content #content_left .ul_1 li{background:url(img/jia.gif) no-repeat left center;font:12px/24px "";line-height: 24px;text-indent: 15px}
#content #content_left .ul_1 .first_f{font-weight: bold;margin-top:3px;background:none;}
#content #content_left span button{float:right;background: none;color:#fff;margin-top:2px;}
#content #content_left .span1{margin-top:10px;}
#content #content_left .ul_2{display:none;height:350px;width:148px;border:1px solid #cbcbcb;padding:10px;}
#content #content_left .ul_3{display:none;height:390px;width:148px;border:1px solid #cbcbcb;padding:10px;}
#content #content_left .ul_4{display:none;height:80px;width:148px;border:1px solid #cbcbcb;padding:10px;}
#content #content_left .ul_2 li{background:url(img/kuang.gif) no-repeat left center;font:12px/20px "";line-height: 20px;text-indent: 15px}
#content #content_left .ul_3 li{background:url(img/kuang.gif) no-repeat left center;font:12px/20px "";line-height: 20px;text-indent: 15px}
#content #content_left .ul_4 li{background:url(img/kuang.gif) no-repeat left center;font:12px/20px "";line-height: 20px;text-indent: 15px}
#content #content_left .ul_2 li.first_q{font-weight: bold;background:none;margin-top:5px;}
#content #content_left .ul_5{margin-top:10px;}

#ad{height:270px;border-top: 1px solid #cbcbcb;width: 950px;margin:0 auto;}
#ad img{float:left;margin-top:70px;margin-left:3px;}

/* 弹出购物车 */
#show{width:300px;height:200px;position: fixed;left:50%;top:50%;margin-left:-150px;margin-top: -100px;z-index: 9999;background: #fff;border: 1px solid #000;text-align: center;display: none;}
#show h3{margin-top:30px;margin-bottom:20px;}
#show p{font:12px/24px "";line-height: 24px;}
#show .shopcar_buttom{height:24px;position: relative;top:30px}
#show .shopcar_buttom span{width:100px;height:24px;display: block;border: 1px solid #000;line-height: 24px;text-align: center;color:#fff;background: #000;font:12px/24px "";position: absolute;}
#show .shopcar_buttom #shopcar_buttom_left{left:30px;}
#show .shopcar_buttom #shopcar_buttom_right{right:30px;}
#show #popClose{width:24px;font:12px/24px "";border: 1px solid #000;line-height: 24px;text-align: center;color:#fff;background: #000;position: absolute;top:0;right:0;}











